<%= form_for([owner, service]) do |f| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :callsummary %>
    <%= f.number_field :callsummary %>
  </div>

  <div class="field">
    <%= f.label :summaryStart %>
    <%= f.datetime_select :summaryStart %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
