<%= form_for(service_property) do |f| %>
  <% if service_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_property.errors.count, "error") %> prohibited this service_property from being saved:</h2>

      <ul>
      <% service_property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>

  <div class="field">
    <%= f.label :key2 %>
    <%= f.text_field :key2 %>
  </div>

  <div class="field">
    <%= f.label :strVal %>
    <%= f.text_area :strVal %>
  </div>

  <div class="field">
    <%= f.label :numVal %>
    <%= f.text_field :numVal %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
